<h1>Welcome Back, {{email}}!</h1>
<h3>Add A Blog Post</h3>

<section>
<form class="blog-form d-flex flex-column justify-content-left spacing">
    <input type="text" id="title" placeholder="New Blog Title">
    <textarea name="text" id="text" placeholder="New Blog Text"></textarea>
    <button class="blog-btn" type="submit">Post!</button>
</form>
</section>

<h3>My Blog Posts</h3>
{{#each allBlogs}}
    <section class="blog-box" data-id="{{id}}">
    <h4>{{User.email}}: {{title}}</h4>
        <p>{{text}}</p>
        <p>{{createdAt}}</p>
    <h5>Comments:</h5>
    {{#each Comments}}
        <p>{{email}} - {{createdAt}}</p>
        <p>{{text}}</p>
    {{/each}}
</section>
{{/each}}

<script src="/js/dashboard.js"></script>